<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}}" ></script>
    <script  src="{{url_for('static',filename='script.js')}}"></script>
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>MLinhaA</title>
</head>
<body>
    <div class="container  mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item" ><a class="nav-link " href="/submit">Submit</a></li>
            <li class="nav-item"><a  class="nav-link " href="/about">About</a></li>
            <li class="nav-item"><a  class="nav-link active" href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="container ">
        <div class="bg-light">
            Contact
        </div>
    </div>
</body>
</html>